# Intro to Pandas Library

The pandas library consist mostly of two data types:
 - Series
 - DataFrames: A 2D object to represent `tabular` data

## DataFrames Characteristics
 - Mutable
 - Index based
 - A full class

## Classic data representation formats
- JSON
- CSV

In [7]:
import pandas as pd

In [8]:
# Create a new DataFrame
df_one = pd.DataFrame(columns=['Column1', 'Column2'])
df_one

Empty DataFrame
Columns: [Column1, Column2]
Index: []

In [9]:
# Another way
df_one.columns = ['First', 'Second', 'Third']
df_one

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [7]:
# Add some rows
data1 = {
    'First':[1, 2, 'Real'],       # key = column, values = list of data
    'Second':[22, 44, 'Madrid']
}
# Create a new df with data
df_two = pd.DataFrame(data1)
df_two

NameError: name 'pd' is not defined

In [9]:
# Combine two dfs
df_three = pd.concat([df_one, df_two])
df_three

NameError: name 'pd' is not defined

In [11]:
# Add data to df_one
data = {
    'First':[66, 77, 'Hello'],
    'Second':[88, 99, 'CS4850']
}
# Add it to frame
df_one = pd.DataFrame(data)
# Combine them
df_three = pd.concat([df_one, df_two])
df_three

NameError: name 'pd' is not defined

In [12]:
# Update indexes as you combine them
df_three.reset_index(drop=True, inplace=True)
df_three

NameError: name 'df_three' is not defined

In [15]:
# Add df colum-wise
col_data = {
    'Third': [88, 99, 11]
}
df_four = pd.DataFrame(col_data)
# Now combine them by columns, add the axis=1 parameter
df_combined = pd.concat([df_three, df_four], axis=1)
df_combined

NameError: name 'pd' is not defined

## Task: Sales Data

In [16]:
# TODO: Define a df called df_sales with two columns: Date, Amount
import pandas
df_sales = pd.DataFrame(columns=['Date', 'Amount'])
df_sales

AttributeError: partially initialized module 'pandas' has no attribute '_pandas_datetime_CAPI' (most likely due to a circular import)

In [17]:
# TODO: Add sample data: 3 rows
sales_data = {
    'Date':['2024-01-23', '2024-01-12', '2024-02-15'],
    'Amount':[150, 250, 125]
}

In [18]:
# TODO: Create a new df with two more rows of data, same columns as df_sales
df_sales_two = pd.DataFrame({'Date':['2024-08-12', '2024-08-24'],
    'Amount':[450, 234]
    })

NameError: name 'pd' is not defined

In [20]:
# TODO: Combine them, and make sure indexes are correct
df_sales = pd.concat([df_sales, df_sales_two])
df_sales

NameError: name 'pd' is not defined

In [21]:
# Reset the index
df_sales.reset_index=(drop=True, inplace=True)
df_sales

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2587390573.py, line 2)

In [22]:
# TODO: Add a new column called: 'Product' with 4 rows of data, and combine it to original df_sales
new_column = pd.DataFrame({'Product':['A', 'B', 'C']})
df_sales['Product'] = new_column
df_sales

NameError: name 'pd' is not defined

## Working with JSON Files

You can handle JSON files directly with Pandas, using the `read_json()` method

In [10]:
import pandas as pd

# Load json file
df_json_data = pd.read_json('../data/example-1.json')

In [11]:
# Display df
df_json_data

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [13]:
# Convert dataFrame to json formatted string
json_format = df_json_data.to_json()
json_format

'{"Column 1":{"0":1,"1":3,"2":5},"Column 2":{"0":2,"1":4,"2":6}}'

## Working with CSV Files

With Pandas use the `read_csv()` method

In [14]:
df_csv_format = pd.read_csv('../data/example-1.csv')
# Display it
df_csv_format

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0

In [20]:
# Read file without header record
df_csv_format = pd.read_csv('../data/example-2.csv', header=None)
df_csv_format

          0          1      2
0  Branch A  January 1  500.0
1  Branch B  January 2  250.0
2  Branch A  January 3  300.0

In [22]:
# Save the data back to csv file
# If you do not need the index information, use, index=None
df_csv_format.to_csv('test.csv', index=None)

In [ ]:
#